* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    background: url(/img/wood.jpg) center center/cover;
}

.title {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

h1 {
    font-size: 3rem;
}

.player-container {
    width: 80%;
    display: flex;
    margin: 1rem auto;
    justify-content: space-around
}

input{
    padding: 0.5rem; 
    border-radius: 5px;
    margin-bottom: 0.5rem;   
}

.players {
    text-align: center;
    width: 14rem; 
}

.players h3 {
    font-size: 2rem;
}

.play{
    width: 400px; 
}

.play h3{
    cursor: pointer;
    height: 2rem; 
    animation: blink 2s linear infinite; 
}


.main-section {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.score {
    font-size: 1rem;
    margin-top: -1rem;
}

.score-player-one,
.score-player-two {
    font-size: 5rem;
}

.gameboard {
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.card {
    height: 130px;
    width: 130px;
    margin: 5px;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
    cursor: pointer;
    background: lightblue;
    border: 5px dotted white;
}


.card.flip{
    transform: rotateY(180deg);
}

.back {
    height: 100%; 
     width: 100%; 
     position: absolute; 
    border-radius: 5px;
}

.back {
    transform: rotateY(180deg)
}

.back img {
    height: 130px;
    width: 130px;
}

.waiting-player {
    opacity: 0.5;
}

.play {
    text-align: center;
}

.box-container{
    width: 100%;
    opacity: 0; 
    transition: opacity 1s ease;
}

.input-box{
    width: 30rem;
    height: 15rem; 
    background: rgba(255, 255, 255, 1); 
    margin: -2rem auto; 
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 20px 10px rgba(0,0,0,0.3); 
}

.box-text{
    font-size: 1.5rem;
    width: 70%; 
    margin-bottom: 0.8rem;
}

.box-example{
    font-size: 1rem;
    margin-bottom: 0.8rem;
}


@keyframes blink{ 
    0%{ 
      opacity: 0.4; 
    } 
    50%{ 
      opacity: 0.9; 
      font-size: 1.3rem;
    } 
    100%{ 
      opacity: 0.4; 
    } 
  } 